{% extends "admin_base.njk" %}
{% block titulo %}JUEGOS | {% if juego.id %} Editar {% else %} Nuevo {% endif %}{% endblock %}
{% block contenido %}
    <h1>Formulario de juegos</h1>
    {% if juego.id %}
    <form action="/juegos/{{ juego.id }}" method="post">
    {% else %}
    <form action="/juegos" method="post" enctype="multipart/form-data">
    {% endif %}
      <div class="form-group">  
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" value="{{ juego.nombre }}">
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" name="descripcion">{{ juego.descripcion }}</textarea>
      </div>
      <div class="form-group">
        <label for="edad">Edad recomendada</label>
        <input type="number" id="edad" name="edad" value="{{ juego.edad }}">
      </div>
      <div class="form-group">
        <label for="jugadores">Número de jugadores</label>
        <input type="number" id="jugadores" name="jugadores" value="{{ juego.jugadores }}">
      </div>
      <div class="form-group">
        <label for="tipo">Tipo de juego</label>
        <select id="tipo" name="tipo">
          <option value="rol" {{ 'selected' if juego.tipo == 'rol' else '' }}>Rol</option>
          <option value="escape" {{ 'selected' if juego.tipo == 'escape' else '' }}>Escape</option>
          <option value="dados" {{ 'selected' if juego.tipo == 'dados' else '' }}>Dados</option>
          <option value="fichas" {{ 'selected' if juego.tipo == 'fichas' else '' }}>Fichas</option>
          <option value="cartas" {{ 'selected' if juego.tipo == 'cartas' else '' }}>Cartas</option>
          <option value="tablero" {{ 'selected' if juego.tipo == 'tablero' else '' }}>Tablero</option>
        </select>
      </div>
      <div class="form-group">
        <label for="precio">Precio</label>
        <input type="number" id="precio" name="precio" value="{{ juego.precio }}">
      </div>
      <div class="form-group">
        <label for="imagen">Imagen</label>
        <input type="file" id="imagen" name="imagen">
      </div>
      {% if juego.id %}
      <input type="hidden" name="_method" value="put"/>
      {% endif %}
      <button type="submit" class="btn btn-primary mt-2">Enviar</button>
    </form>
{% endblock %}