{% extends "admin_base.njk" %}
{% block titulo %}Formulario ediciones{% endblock %}
{% block contenido %}
<form action="/juegos/editar-ediciones/{{ juego._id }}" method="POST">
  <div class="form-group">
    <label for="ediciones">Ediciones disponibles</label>
    <select multiple class="form-control" id="ediciones" name="ediciones[]">
      {% for edicion in ediciones %}
        {% if edicion in juego.ediciones %}
          <option value="{{ edicion }}" selected>{{ edicion }}</option>
        {% else %}
          <option value="{{ edicion }}">{{ edicion }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>
{% endblock %}