{% extends "publico_base.njk" %}
{% block titulo %}Login{% endblock %}
{% block contenido %}

    {% if (error) %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form action="/auth/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}