{% extends "publico_base.njk" %}
{% block titulo %} Juego {% endblock %}
{% block contenido %}
<div class="card" style="width: 18rem;">
    <img src="{{ juego.imagen }}" class="card-img-top" alt="{{ juego.nombre }}">
    <div class="card-body">
        <h1>{{ juego.nombre }}</h1>
        <p>Descripción: {{ juego.descripcion }}</p>
        <p>Edad mínima: {{ juego.edad }}</p>
        <p>Número de jugadores: {{ juego.jugadores }}</p>
        <p>Tipo: {{ juego.tipo }}</p>
        <p>Precio: {{ juego.precio }}</p>
    </div>
</div>

<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Ediciones</div>
    {% for edicion in juego.ediciones %}
        <div class="card-body">
            <h5 class="card-title">{{ edicion.nombre }}</h5>
            <p class="card-text">{{ edicion.anyo }}</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}