{% extends "publico_base.njk" %}
{% block titulo %}Inicio{% endblock %}
{% block contenido %}
  <h1>Búsqueda de juegos</h1>
  <form method="GET" action="/buscar">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre">
    <input type="submit" value="Buscar">
  </form>
  {% if juegos %}
    <h2>Resultados</h2>
    <ul>
      {% for juego in juegos %}
        <li><a href="/juegos/{{ juego._id }}">{{ juego.nombre }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}