{% extends "publico_base.njk" %}
{% block titulo %}Error{% endblock %}
{% block contenido %}
    <h1>Error</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <p>Error en la aplicación</p>
    {% endif %}
{% endblock %}