{% extends "publico_base.njk" %}
{% block titulo %} Juego {% endblock %}
{% block contenido %}
<div class="row">
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="../public/uploads/{{ juego.imagen }}" class="card-img-top" alt="{{ juego.nombre }}">
            <div class="card-body">
                <h1>{{ juego.nombre }}</h1>
                <p>Descripción: {{ juego.descripcion }}</p>
                <p>Edad mínima: {{ juego.edad }}</p>
                <p>Número de jugadores: {{ juego.jugadores }}</p>
                <p>Tipo: {{ juego.tipo }}</p>
                <p>Precio: {{ juego.precio }}</p>
            </div>
        </div>

        <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">Ediciones</div>
            {% for edicion in juego.ediciones %}
                <div class="card-body">
                    <h5 class="card-title">{{ edicion.edicion }}</h5>
                    <p class="card-text">{{ edicion.anyo }}</p>
                </div>
                <form action="/juegos/{{ juego._id }}/ediciones/{{ edicion._id }}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-danger">Borrar edición</button>
                </form>
            {% endfor %}
            </div>
        </div>

    <div class="col-8">
        <h2>Agrega una edición</h2>
        <form action="/juegos/{{ juego._id }}/ediciones" method="post">
            <div class="form-group w-50">
                <label for="edicion">Nombre de la edición:</label>
                <input type="text" class="form-control" id="edicion" name="edicion">
            </div>
            <div class="form-group w-50">
                <label for="anyo">Año:</label>
                <input type="text" class="form-control" id="anyo" name="anyo">
            </div>
            <button type="submit" class="btn btn-primary mt-2">Añadir Edición</button>
        </form>
{% endblock %}